.center{
    background: white;
    height: 200px;
    width: 80%;
    margin: 0 auto;
   margin-top:150px; 
    padding: 20px;
    align-self: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    border: 2px green;
    text-align: center;

}

.colorwhite{
    color: white;
}